.container {
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    background: red;
    margin: 10px;
    width: 100px;
    height: 100px;
    display: inline-block;
}