.Evaluation{
  max-width: 800px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  &__card{
    margin: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    border: 2px black solid;
    height: 8.75rem;
    &-image{
      width:70%;
      height: 100%;
      object-fit: scale-down;
      margin: 0 15%;
      position: relative;
    }
    &-count{
      position: absolute;
      background-color: #F8AA31;
      border-radius: 20px;
      top: 2px;
      right: 2px;
      padding: 0.2rem;
      font-size: 2rem;
      font-weight: 700;
    }
    &-button{
      display: none;
    }
  }
  &__button {
    grid-column: 1/ span 5;
    margin: 0.1rem 20%;
  }
}

